body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(87, 195, 155, 1) 0%,
    rgba(155, 218, 71, 0.66) 76.9%
  );
}
